* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../assets/images/header-abstract.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
}

main {
    padding: 2% 4%;
}

h1 {
    padding: 10px 25px 0 0;
    font-size: 50px;
    font-weight: bolder;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

/* used to color "the" in "theprattler" */
h1 span, h3 span {
    color: #505050;
}

header nav ul, .contact-links {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    list-style: none;
}

header nav ul li, .contact-link {
    padding: 5px 25px;
}

/* normalized link displays */
ul li a, .contact-link a {
    text-decoration: none;
    color: #000;
}

#link:hover {
    color: white;
    transition: color .3s;
}

/* setting up section headings here */
.flex-row {
    display: flex;
    justify-content: right;
    margin: 25px 25px 35px 25px;
    border-bottom: 4px solid #505050;
    padding-bottom: 5px;
}

.section-title {
    font-size: 35px;
    text-align: right;
}

/* picture of me and short bio */
.bio {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.about-img {
    flex: 0 23%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-img img {
    width: 100%;
}

.about-me {
    padding: 25px;
    flex: 0 73%;
    align-items: flex-start;
}

.about h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding: 20px;
}

.about-me p {
    line-height: 1.5;
    width: 95%;
    font-size: 15px;
    margin: 0 auto;
    text-align: right; 
}

/* deployed apps section */
.apps {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px #505050;
}

/* use this to make first app larger than others */
.app-primo {
    margin: 20px;
    flex: 1 1 100%;
    border: 1px #505050;
}

.app {
    margin: 20px;
    flex: 1 1 33%;
    border: 1px #505050;
}

.app-img {
    flex: 0 32%;
    margin: 15px 0;
}

.app-img img {
    width: 100%;
}

/* text for launched app languages used */
h4 {
    color: #505050;
}

.resume {
    margin: 10px 25px;
    font-size: 15px;
}

footer {
    background-image: url("../assets/images/header-abstract.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 0 0 0;
}

.copyright {
    padding: 10px 25px 0 0;
    font-size: 20px;
    font-weight: bolder;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

/* lyric from third song I ever wrote */
.quote {
    padding: 0 25px 10px 0;
    display: flex;
    justify-content: right;
    font-style: italic;
}

/* styling for screens 769-980px */
@media screen and (max-width: 980px) {
    h1 {
        font-size: 45px;
    }

    .section-title {
        font-size: 30px;
    }

    .about-img {
        flex: 0 27%;
    }
}

/* styling for screens 576-768px */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 37px;
    }

    header nav ul, .contact-links {
        font-size: 18px;
    }

    .section-title {
        font-size: 23px;
    }

    .about-me p {
        line-height: 1.3;
        font-size: 11px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 13px;
    }

    .resume {
        font-size: 11px;
    }

    .contact-links {
        justify-content: space-evenly;
    }

    .quote {
        font-size: 11px;
    }
}

/* styling for screens 575px and smaller */
@media screen and (max-width: 575px) {
    h1 {
        font-size: 32px;
        padding-right: 17px;
    }

    header nav ul {
        flex-wrap: none;
        justify-content: space-around;
    }

    header nav ul li, .contact-link {
        font-size: 14px;
        padding: 5px;
    }

    .flex-row {
        margin: 17px 17px 5px 17px;
    }

    .section-title {
        font-size: 18px;
    }

    .bio {
        padding: 0 17px; 
    }

    .about-img {
        flex: 0 50%;
    }

    .about-me {
        padding: 17px 0 17px 8px;
        flex: 0 50%;
    }

    .app {
        margin: 5px 17px;
    }

    .app-img {
        margin: 5px 0;
    }

    h3 {
        font-size: 13px;
    }

    h4 {
        font-size: 11px;
    }

    .quote {
        font-size: 9px;
    }
}