* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../assets/images/header-abstract.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
}

h1 {
    padding: 10px 25px 0 0;
    font-size: 50px;
    font-weight: bolder;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

h1 span, h3 span {
    color: #505050;
}

header nav ul, .contact-links {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    list-style: none;
}

header nav ul li, .contact-link {
    padding: 5px 25px;
}

/* normalized link displays */
ul li a, .contact-link a {
    text-decoration: none;
    color: #000;
}

.section-title {
    font-size: 35px;
    text-align: right;
}

.bio {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.about-img {
    flex: 0 23%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-img img {
    width: 100%;
}

.about-me {
    padding: 25px;
    flex: 0 73%;
    align-items: flex-start;
}

.about h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding: 20px;
}

.about-me p {
    line-height: 1.5;
    width: 95%;
    font-size: 15px;
    margin: 0 auto;
    text-align: right; 
}

.flex-row {
    display: flex;
    justify-content: right;
    margin: 25px;
    border-bottom: 4px solid #505050;
    padding-bottom: 5px;
}

.apps {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app {
    margin: 20px;
    flex: 1 1 33%;
}

.app-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.app-img img {
    width: 100%;
}

h4 {
    color: #505050;
}

.resume {
    margin: 10px 25px;
}

footer {
    background-image: url("../assets/images/header-abstract.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 0 0 0;
}

.copyright {
    padding: 10px 25px 0 0;
    font-size: 20px;
    font-weight: bolder;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.quote {
    padding: 0 25px 10px 0;
    display: flex;
    justify-content: right;
    font-style: italic;
}